!Dockerfile
!README.md

docker-compose-test.yml

bedrock-server
test

**/allowlist.json
!My-World-Example/config/allowlist.json

**/permissions.json
!My-World-Example/config/permissions.json

**/server.properties
!My-World-Example/config/server.properties

north/
kingdom/
caves/
lush/
cliffs/
